body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 20px;
  }

#banner{

}
#barra-menu{

}
.item-menu{

}
.seccion-tematica{

}
.articulo-periodistico{

}
.cuerpo-noticia{

}
#footer{

}
#Sponsors{

}
.Sponsors{
    
}